CompileFlags:
    Add:
        - -I/usr/arm-none-eabi/include/newlib-nano
        - -I/usr/arm-none-eabi/include/c++/14.2.0
        - -I/usr/arm-none-eabi/include/c++/14.2.0/arm-none-eabi/thumb/v7e-m+fp/hard
        - -I/usr/arm-none-eabi/include/c++/14.2.0/backward
        - -I/usr/lib/gcc/arm-none-eabi/14.2.0/include
        - -I/usr/lib/gcc/arm-none-eabi/14.2.0/include-fixed
        - -I/usr/arm-none-eabi/include
    Remove: []
    CompilationDatabase: ./build/Debug
    Compiler: /usr/bin/arm-none-eabi-gcc
